In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('Downloads/peakInfo.txt', sep='\t')
df

,PeakClass,SpecID,PeakTick,PeakMass,SN,MinTick,MaxTick,MinMass,MaxMass,NumSpec,MinSN,MaxSN,MeanSN
0,1,18,3522,964.63,66.20,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
1,1,17,3522,964.63,64.70,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
2,1,10,3523,965.23,69.93,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
3,1,20,3523,965.23,69.39,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
4,1,5,3523,965.23,57.67,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
5,1,6,3523,965.23,51.11,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
6,1,9,3523,965.23,50.20,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
7,1,21,3523,965.23,50.08,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
8,1,19,3523,965.23,40.83,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
9,1,12,3524,965.84,55.41,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
10,1,11,3524,965.84,54.41,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
11,1,2,3524,965.84,52.43,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
12,1,22,3524,965.84,51.71,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
13,1,1,3524,965.84,45.08,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
14,1,13,3525,966.44,51.99,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
15,1,4,3525,966.44,42.98,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
16,1,3,3526,967.05,43.30,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
17,2,3,3534,971.89,37.66,3534,3534,971.89,971.89,1,37.66,37.66,37.660000
18,3,21,3550,981.60,99.17,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
19,3,22,3550,981.60,80.26,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
20,3,17,3550,981.60,57.67,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
21,3,10,3551,982.21,115.08,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
22,3,6,3551,982.21,114.93,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
23,3,2,3551,982.21,99.13,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
24,3,4,3551,982.21,91.08,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
25,3,5,3551,982.21,87.99,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
26,3,9,3551,982.21,85.35,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
27,3,18,3551,982.21,76.86,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
28,3,12,3552,982.81,96.99,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
29,3,11,3552,982.81,90.70,3550,3557,981.60,985.86,24,37.03,115.08,80.490833
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3407,173,11,13822,15951.67,18.24,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3408,173,20,13825,15958.59,15.10,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3409,173,22,13826,15960.90,19.12,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3410,173,12,13826,15960.90,18.35,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3411,173,3,13832,15974.75,18.12,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3412,173,4,13834,15979.36,12.20,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3413,173,8,13841,15995.53,14.68,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3414,173,19,13846,16007.08,15.15,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3415,173,17,13851,16018.63,15.70,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3416,173,6,13857,16032.50,20.96,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3417,173,22,13857,16032.50,19.83,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3418,173,10,13860,16039.44,18.87,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3419,173,21,13861,16041.75,20.53,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3420,173,5,13861,16041.75,17.84,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3421,173,2,13862,16044.07,20.06,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3422,173,24,13863,16046.38,10.05,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3423,173,9,13864,16048.69,18.46,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3424,173,18,13865,16051.01,29.85,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3425,173,1,13865,16051.01,25.17,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3426,173,16,13815,15935.53,7.23,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3427,173,14,13824,15956.29,6.95,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3428,173,15,13824,15956.29,6.52,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3429,173,23,13829,15967.82,8.44,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3430,173,13,13833,15977.06,6.80,13791,13865,15880.25,16051.01,36,6.52,29.85,17.390833
3431,174,10,16322,22234.53,17.01,16322,16329,22234.53,22253.57,6,11.93,17.01,13.900000
3432,174,22,16323,22237.25,13.82,16322,16329,22234.53,22253.57,6,11.93,17.01,13.900000
3433,174,6,16324,22239.97,14.48,16322,16329,22234.53,22253.57,6,11.93,17.01,13.900000
3434,174,2,16327,22248.13,13.30,16322,16329,22234.53,22253.57,6,11.93,17.01,13.900000
3435,174,5,16328,22250.85,11.93,16322,16329,22234.53,22253.57,6,11.93,17.01,13.900000
3436,174,21,16329,22253.57,12.86,16322,16329,22234.53,22253.57,6,11.93,17.01,13.900000

In [8]:
df.head()

,PeakClass,SpecID,PeakTick,PeakMass,SN,MinTick,MaxTick,MinMass,MaxMass,NumSpec,MinSN,MaxSN,MeanSN
0,1,18,3522,964.63,66.20,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
1,1,17,3522,964.63,64.70,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
2,1,10,3523,965.23,69.93,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
3,1,20,3523,965.23,69.39,3522,3526,964.63,967.05,17,40.83,69.93,53.965882
4,1,5,3523,965.23,57.67,3522,3526,964.63,967.05,17,40.83,69.93,53.965882

In [9]:
df.columns

Index(['PeakClass', 'SpecID', 'PeakTick', 'PeakMass', 'SN', 'MinTick',
       'MaxTick', 'MinMass', 'MaxMass', 'NumSpec', 'MinSN', 'MaxSN', 'MeanSN'],
      dtype='object')

In [12]:
df.groupby('SpecID')

In [14]:
df.groupby('SpecID').min()['SN']

SpecID
1     2.19
2     2.31
3     2.57
4     2.09
5     2.06
6     2.20
7     2.39
8     2.34
9     2.34
10    2.16
11    2.05
12    2.40
13    2.04
14    2.14
15    2.14
16    2.15
17    2.03
18    2.27
19    2.10
20    2.01
21    2.03
22    2.06
23    2.56
24    2.29
Name: SN, dtype: float64

In [28]:
df.groupby('SpecID').min()['SN']

SpecID
1     2.19
2     2.31
3     2.57
4     2.09
5     2.06
6     2.20
7     2.39
8     2.34
9     2.34
10    2.16
11    2.05
12    2.40
13    2.04
14    2.14
15    2.14
16    2.15
17    2.03
18    2.27
19    2.10
20    2.01
21    2.03
22    2.06
23    2.56
24    2.29
Name: SN, dtype: float64

In [29]:
df_min = df.groupby('SpecID').min()['SN'].reset_index()
df_min

    SpecID    SN
0        1  2.19
1        2  2.31
2        3  2.57
3        4  2.09
4        5  2.06
5        6  2.20
6        7  2.39
7        8  2.34
8        9  2.34
9       10  2.16
10      11  2.05
11      12  2.40
12      13  2.04
13      14  2.14
14      15  2.14
15      16  2.15
16      17  2.03
17      18  2.27
18      19  2.10
19      20  2.01
20      21  2.03
21      22  2.06
22      23  2.56
23      24  2.29

In [22]:
df_max = df.groupby('SpecID').max()['SN'].reset_index()

In [25]:
pd.merge(df_max, df_min, on='SpecID')

    SpecID    SN_x  SN_y
0        1  296.54  2.19
1        2  362.94  2.31
2        3  341.23  2.57
3        4  203.06  2.09
4        5  498.28  2.06
5        6  511.25  2.20
6        7  266.38  2.39
7        8  287.44  2.34
8        9  165.72  2.34
9       10  421.74  2.16
10      11  367.94  2.05
11      12  339.79  2.40
12      13  142.58  2.04
13      14  235.86  2.14
14      15  200.59  2.14
15      16  315.00  2.15
16      17  193.67  2.03
17      18  115.28  2.27
18      19  142.61  2.10
19      20  246.78  2.01
20      21  329.69  2.03
21      22  315.40  2.06
22      23  207.24  2.56
23      24  194.94  2.29